/*#region tailwind*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*#endregion tailwind*/

/*#region fonts */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
}
/* #endregion fonts */

/* #region Common */

.App {
  @apply min-h-screen font-Poppins overflow-x-hidden flex flex-col justify-between;
}

.card {
  @apply bg-white shadow-lg rounded-lg overflow-hidden px-5 py-3;
}

.button {
  @apply font-bold rounded-lg flex items-center justify-center px-5 py-3 shadow-lg hover:opacity-80 active:opacity-70;
}

h2 {
  @apply text-4xl font-bold leading-relaxed;
}

input {
  @apply h-10 border border-black rounded-lg w-full px-3;
}

/* #endregion Common */

/* #region Alerts */

.alert {
  @apply fixed left-1/2 -translate-x-1/2 mt-5 shadow-lg;
}

/* #endregion Alerts */

/* #region home */

/* #region Titulos */

.title {
  @apply flex items-center gap-5 justify-center py-8;
}

/* Lineas */

.title > hr {
  @apply w-20;
}

/* #endregion Titulos */

/* #region Navbar */

.navbar {
  @apply flex items-center justify-between px-8 py-3;
}

/* Soy profesor */
.home .navbar .button {
  @apply bg-primary text-white text-base;
}

/* Logo */
.home .navbar img {
  @apply cursor-pointer;
}

/* #endregion Navbar */

/* #region Hero */
.hero {
  @apply flex items-center justify-center w-screen h-auto gap-20 px-20;
}

.hero > div:nth-child(1) {
  @apply flex flex-col items-start w-[550px];
}

/* Titulo */
.hero > div > h1 {
  @apply text-9xl font-bold animate_entrance_1;
  background: linear-gradient(90deg, #0d9748 -21%, #41fb99 116.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.animate_entrance_1 {
  animation-duration: 0.5s;
  animation-name: animate_entrance;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.animate_entrance_2 {
  animation-duration: 0.5s;
  animation-name: animate_entrance;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
}

.animate_entrance_3 {
  animation-duration: 0.5s;
  animation-name: animate_entrance;
  animation-delay: 0.7s;
  animation-fill-mode: backwards;
}

@keyframes animate_entrance {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* descripción */
.hero > div > h2 {
  @apply text-2xl opacity-70 font-medium animate_entrance_2;
}

/* muy pronto */
.hero > div > div {
  @apply button bg-terciary text-white text-4xl mt-10 animate_entrance_3 cursor-default;
}

/* #endregion Hero */

/* #region methodology */

.methodology {
  @apply flex flex-col items-center justify-center w-screen h-auto;
}

.methodology > p {
  @apply text-2xl text-center font-light w-[1000px] leading-relaxed;
}

.banner {
  @apply flex w-screen justify-start max-w-[1366px];
}

/* Bola verde */
.tasks {
  @apply relative w-[600px] h-[600px] bg-primary rounded-full mt-52 flex items-center justify-center -left-28;
}

/* Titulo de bola verde */
.tasks > h1 {
  @apply text-8xl font-bold text-white;
}

/* task */
.tasks > div {
  @apply absolute flex transition-all duration-500 ease-in-out;
}

/* task img */
.tasks > div > img {
  @apply w-32;
}

/* task title */
.tasks > div > h5 {
  @apply absolute font-bold text-xl;
}

/* task description */
.tasks > div > p {
  @apply absolute flex transition-all duration-500 ease-in-out text-end;
}

/* hover area */
.tasks > div > div {
  @apply h-56 absolute top-5 w-screen opacity-0;
}

/* #endregion methodology */

/* #region TeamWork */

.teamwork {
  @apply flex flex-col items-center justify-center w-screen h-auto mt-52 bg-secondary;
}

.teamwork > p {
  @apply text-2xl text-center font-light w-[1000px] leading-relaxed;
}

.powers {
  @apply flex justify-center gap-40 mt-16 pb-60;
}

.power {
  @apply bg-cuaternary p-5 shadow-lg rounded-lg hover:cursor-pointer relative;
}

.power > img {
  @apply w-16 h-16;
}

.power h3 {
  @apply text-2xl font-bold mb-2;
}

.power p {
  @apply text-base font-light;
}

/* description of the power */
.power > div {
  @apply absolute text-center w-96 mt-10 -translate-x-[41%] transition-all duration-500 ease-in-out;
}

/* #endregion Teamwork */

/* #region accesibility */

.accesibility {
  @apply flex flex-col items-center justify-center pb-10;
}

.accesibility > div {
  @apply flex justify-center gap-20 w-[1300px] mt-10 items-center;
}

/* description */
.accesibility > div > p {
  @apply font-light w-96 relative -top-10;
}

.accesibility > div > div {
  @apply relative flex;
}

/* banner */
.accesibility img {
  @apply w-[500px];
}

/* mouse notification */
.clickable {
  @apply absolute w-28 h-28 rounded-full bg-secondary -top-16 right-36 shadow-lg flex items-center justify-center hover:cursor-default;
}

.clickable > img {
  @apply absolute w-16 h-16 transition-all;
}

.clickable > p {
  @apply absolute text-white text-center opacity-0  transition-all font-bold px-5;
}

/* botones */
.accesibilityButtons > div {
  @apply absolute w-32 h-32 cursor-pointer;
}
/* #endregion */

/* #region Ourteam */

.ourteam {
  @apply mb-40;
}

.sectionOurTeam {
  @apply flex flex-col items-center justify-center px-44 mt-10;
}

.sectionOurTeam > div {
  @apply flex items-center justify-center gap-7;
}

.sectionOurTeam > div > h2 {
  @apply text-black text-2xl;
}

.sectionOurTeam .card {
  @apply flex items-center justify-between flex-wrap w-80 h-40 text-2xl font-bold;
}

.sectionOurTeam .card > div {
  @apply w-20 h-20 rounded-full overflow-hidden;
}

.sectionOurTeam .card > p {
  @apply text-center w-48;
}
/* #endregion Ourteam */

/* #endregion */

/* #region footer */

.footer {
  @apply flex flex-col items-center justify-center w-screen h-auto mb-5;
}

.footer > hr {
  @apply w-4/5 border-black my-5;
}

/* #endregion footer */

/* #region login */

.login {
  @apply h-auto flex items-center justify-center flex-col w-auto;
}

.login > div {
  @apply relative w-fit;
}

/* logo */

.login > div > img {
  @apply absolute w-96 -top-48 -right-48;
}

.login .card {
  @apply flex flex-col items-stretch justify-center w-96 relative;
}

/* Iniciar sesion titulo */
.login .card > h2 {
  @apply text-center;
}

.login .card div {
  @apply w-full;
}

.login .card form {
  @apply my-5 w-full;
}

/* submit button */
.login .card form button {
  @apply w-full mt-5;
}

/* #endregion login */

/* #region Admin */

.admin {
  @apply flex;
}

/* #region navbar */

.admin .navbar {
  @apply flex flex-col bg-terciary h-screen justify-between py-5 px-3 items-stretch z-10;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

/* logo */
.admin .navbar > div > img {
  @apply w-10 mx-auto;
}

/* Botones*/
.admin .navbar button {
  @apply w-12 h-12 rounded-lg shadow-lg flex justify-center items-center hover:shadow-none;
}

.admin .navbar .navButtons {
  @apply flex flex-row relative;
}

/* sliding bar */
.admin .navbar .navButtons > div:nth-child(1) {
  @apply bg-white w-1 h-12 absolute -left-3 rounded-r-lg transition-all duration-300 ease-in-out;
}

/* botones home y edit */
.admin .navbar .navButtons > div:nth-child(2) {
  @apply flex flex-col gap-3;
}

/* Iconos de botones */
.admin .navbar button img {
  @apply w-7 h-7;
}

.admin .navbar > div {
  @apply flex flex-col gap-3;
}

.admin .navbar > div > div {
  @apply flex flex-col mt-5;
}

.admin .navbar h3 {
  @apply text-center w-full text-white font-bold;
}

.admin .navbar hr {
  @apply px-5 border-white;
}

.admin .navbar .tables {
  @apply flex flex-col my-5 text-center;
}

/* botones de tablas */
.admin .navbar .tables > .table {
  @apply hover:bg-white hover:bg-opacity-20 py-2 text-white rounded-lg;
}

/* #endregion */

/* #region home */

.admin .home {
  @apply flex flex-col px-5 max-h-screen pb-5;
}

.admin .home > div {
  @apply card w-fit mx-auto;
}

/* diagrama de base de datos */

.admin .home > div > img {
  @apply -mt-16 mx-auto h-5/6;
}

/* #endregion */

/* #region crud */

/* #region navbar */

.crud {
  @apply flex w-full;
}

@keyframes appear {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* crud section */
.crud .crudSection {
  @apply w-full;
}

/* title */
.crud .crudSection > div:nth-child(1) {
  @apply bg-terciary w-full flex gap-3 px-5 py-3;
}

.crud .crudSection > div:nth-child(1) > h3 {
  @apply text-xl text-white font-bold;
}

.crud .navbarCrud {
  @apply relative bg-primary px-5;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  animation: appear 0.5s;
}

.crud .navbarCrud .title {
  @apply py-3;
}

.crud .navbarCrud .title > h2 {
  @apply text-xl;
}
.crud .navbarCrud .title > hr {
  @apply w-10;
}

.crud .navbarCrud .tables {
  @apply flex flex-col;
}

.crud .navbarCrud .tables .table {
  @apply text-white hover:bg-white hover:bg-opacity-30 px-3 rounded-lg flex items-center h-10;
}

.crud .navbarCrud .tables .table::before {
  content: url(Table.svg);
  @apply mr-2 relative -bottom-0.5;
}

/* #endregion */

/* #endregion */

/* #endregion */

/* #region crud-table-style */

/* CRUD TABLE START */
.crud-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.crud-modal-wrapper__background {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.crud-modal-wrapper__modal {
  background-color: white;
  border-radius: 5px;
  z-index: 1001;
  position: relative;
  margin: 2rem auto 0 auto;
  top: 0rem;
  display: inline-block;
  min-width: 80%;
}

.crud-modal-wrapper__title {
  border-bottom: 1px solid #eaeaea;
  font-size: 1.3rem;
  padding: 0.8rem;
  color: #444;
}

.crud-modal-form {
  padding: 1rem;
}

.crud-modal-form__field-error {
  color: #fff;
  background-color: #c13a3a;
  border-radius: 3px;
  padding: 0.3rem 0.8rem;
  text-align: left;
  margin-bottom: 0.5rem;
  position: relative;
  margin-top: -0.6rem;
}

.crud-modal-form__field-error:before {
  content: "";
  background-color: transparent;
  display: block;
  position: absolute;
  top: -0.3rem;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #c13a3a;
}

.crud-modal-form__message {
  padding: 0 0 1.2rem 0;
  font-size: 1.1rem;
  text-align: left;
  color: #555;
}

.crud-modal-form__error-message {
  background-color: #c13a3a;
  color: #fff;
  padding: 0.8rem;
  border-radius: 3px;
  margin: 0 1.5rem 1rem 1.5rem;
}

.crud-modal-form button {
  margin-top: 0.5rem;
  min-width: 250px;
  width: 50%;
  height: 45px;
  font-size: 1rem;
}

.crud-modal-form input,
.crud-modal-form select,
.crud-modal-form textarea {
  border-radius: 5px;
  height: 40px;
  border: 1px solid #ccc;
  min-width: 250px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding-left: 0.6rem;
  width: 100%;
}

.crud-modal-form textarea {
  min-height: 70px;
  height: auto;
}

.crud-modal-form__label {
  color: #555;
  display: block;
  text-align: left;
  font-weight: 600;
}

.crud-button {
  background-color: #555;
  min-height: 1rem;
  color: #fff;
  border-radius: 3px;
  padding: 0.6rem 1rem;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  margin: 0.2rem 0;
  min-width: 100px;
}

button.crud-button--close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
}

.crud-button--circular {
  border-radius: 50%;
  padding: 0;
  width: 2rem;
  line-height: 2rem;
  min-width: fit-content;
}

.crud-button--primary {
  background-color: #388ee2;
}

.crud-button--primary:hover {
  background-color: #2477c8;
  transition: all 1s;
}

.crud-button--positive {
  background-color: #40c846;
  margin: 0.8rem 0;
}

.crud-button--positive:hover {
  background-color: #33a538;
  transition: all 1s;
}

.crud-button--negative {
  background-color: #ce2a2a;
}

.crud-button--negative:hover {
  background-color: #9f2020;
  transition: all 1s;
}

.crud-table {
  background-color: transparent;
  border: 1px solid rgba(52, 145, 238, 0.15);
  border-collapse: collapse;
  box-shadow: 2px 2px 5px 0 #c7c7c7;
  font-size: 0.9rem;
}

.crud-table__select {
  border-radius: 5px;
  height: 30px;
  border: 1px solid #ccc;
  min-width: 150px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding-left: 0.6rem;
}

.crud-table__row {
  background: #fff;
}

.crud-table__header-cell {
  cursor: pointer;
  background: rgba(153, 158, 162, 0.05);
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.85);
  border-left: 1px solid rgba(34, 36, 38, 0.1);
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.crud-table__row--sorter {
  display: none;
}

.crud-table__body {
  background-color: #fff;
}

.crud-table__cell {
  background-color: white;
  padding: 0.5rem 1rem;
  border-left: 1px solid rgba(34, 36, 38, 0.1);
  border-bottom: 1px solid rgba(4, 21, 37, 0.1);
}

.crud-table__cell-label {
  display: none;
}

.crud-table__caption {
  background-color: white;
  padding: 0.8rem;
  margin: 1rem 0;
  box-shadow: 2px 2px 10px 0 #c7c7c7;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.crud-table-pagination {
  display: block;
  margin-top: 1rem;
  margin: auto;
}

.crud-table-pagination::before {
  content: "";
  clear: both;
  display: block;
  margin-top: 2rem;
}

.crud-table-pagination__link,
.crud-table-pagination__previous,
.crud-table-pagination__next {
  color: #000;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0 #c7c7c7;
  border-radius: 2px;
}

.crud-table-pagination__link--active {
  background-color: rgb(32, 132, 228);
  color: #fff;
  border: 1px solid rgb(26, 112, 197);
}

.crud-table-pagination__link:hover,
.crud-table-pagination__previous:hover,
.crud-table-pagination__next:hover {
  background-color: #3bbf5c;
  color: #fff;
  border-color: #28a93e;
}

.crud-table-query-builder {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 10px 0 #c7c7c7;
}

.crud-table-query-builder select,
.crud-table-query-builder input {
  border-radius: 5px;
  height: 30px;
  border: 1px solid #ccc;
  min-width: 150px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding-left: 0.6rem;
}

.crud-table-query-builder input[type="checkbox"] {
  margin-right: 15px;
  margin-left: 15px;
  vertical-align: middle;
}

.crud-label {
  display: inline-block;
  border: 1px solid #e5e5e5;
  padding: 0.48rem 1rem;
  border-radius: 0.2rem;
  background-color: #f9fafb;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0.7rem;
}

@media screen and (max-width: 600px) {
  .crud-table {
    display: block;
    min-width: 85vw;
    margin-top: 1rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: none;
    border: none;
  }

  .crud-table-query-builder {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 5px 10px 0 #c7c7c7;
  }

  .crud-table__row,
  .crud-table__caption,
  .crud-table__header,
  .crud-table__body,
  .crud-table__cell {
    display: block;
    width: 100%;
  }

  .crud-table__caption {
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
  }

  .crud-table__row--fields {
    display: none;
  }

  .crud-table__row--sorter {
    display: block;
    margin-bottom: 20px;
  }

  .crud-table__row--sorter .crud-table__select {
    width: 100%;
  }

  .crud-table__row--sorter .crud-table__header-cell {
    background-color: #fff;
  }

  .crud-table__cell {
    border-bottom: 0;
    border-left: 0;
  }

  .crud-table__cell:last-child {
    padding-bottom: 2rem;
  }

  .crud-table__row {
    border: 1px solid #74787c26;
    box-shadow: 2px 2px 5px 0 #c7c7c752;
  }

  .crud-table__row:not(:last-child) {
    margin-bottom: 2rem;
  }

  .crud-table__body {
    background: #f9f9f9;
  }

  .crud-table__cell-label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px dashed #e6e6e6;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: rgba(184, 187, 189, 0.05);
  }

  .crud-table-query-builder .crud-button--add {
    margin: 0 auto 2rem auto;
    display: block;
    border-radius: 50%;
    line-height: 3rem;
    width: 3rem;
    padding: 0;
    font-size: 1.6rem;
    min-width: 50px;
  }

  .crud-table-query-builder select,
  .crud-table-query-builder input {
    width: 100%;
    margin-bottom: 0;
  }
}

.crud-modal-form__field-container {
  text-align: left;
}

/* Datetime picker style */
/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

/* CRUD TABLE END */

/* #endregion */
