@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
}

/* Commom */

.App {
  @apply min-h-screen font-Poppins overflow-x-hidden flex flex-col justify-between;
}

.card {
  @apply bg-white shadow-lg rounded-lg overflow-hidden px-5 py-3;
}

.button {
  @apply font-bold rounded-lg flex items-center justify-center px-5 py-3 shadow-lg hover:opacity-80 active:opacity-70;
}

.title {
  @apply flex items-center gap-5 justify-center py-8;
}

h2 {
  @apply text-4xl font-bold leading-relaxed;
}

input {
  @apply h-10 border border-black rounded-lg w-full px-3;
}

/* Navbar */

.navbar {
  @apply flex items-center justify-between px-8 py-3;
}

.navbar .button {
  @apply bg-primary text-white text-base;
}

/* --Hero-- */
.hero {
  @apply flex items-center justify-center w-screen h-auto gap-20 px-20;
}

.hero > div:nth-child(1) {
  @apply flex flex-col items-start w-[550px];
}

.hero > div > h1 {
  @apply text-9xl font-bold;
  background: linear-gradient(90deg, #0d9748 -21%, #41fb99 116.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero > div > h2 {
  @apply text-2xl opacity-70 font-medium;
}

.hero > div > div {
  @apply button bg-terciary text-white text-4xl mt-10;
}

/* methodology */

.methodology {
  @apply flex flex-col items-center justify-center w-screen h-auto;
}

.methodology > p {
  @apply text-2xl text-center font-light w-[1000px] leading-relaxed;
}

/* TeamWork */

.teamwork {
  @apply flex flex-col items-center justify-center w-screen h-auto mt-52 bg-secondary;
}

.teamwork > p {
  @apply text-2xl text-center font-light w-[1000px] leading-relaxed;
}

.powers {
  @apply flex justify-center gap-40 mt-16 pb-60;
}

.power {
  @apply bg-cuaternary p-5 shadow-lg rounded-lg hover:cursor-pointer relative;
}

.power > img {
  @apply w-16 h-16;
}

.power h3 {
  @apply text-2xl font-bold mb-2;
}

.power p {
  @apply text-base font-light;
}

/* Ourteam */

.ourteam {
  @apply mb-40;
}

.sectionOurTeam {
  @apply flex flex-col items-center justify-center px-44 mt-10;
}

.sectionOurTeam > div {
  @apply flex items-center justify-center gap-7;
}

.sectionOurTeam > div > h2 {
  @apply text-black text-2xl;
}

.sectionOurTeam .card {
  @apply flex items-center justify-between flex-wrap w-80 h-40 text-2xl font-bold;
}

.sectionOurTeam .card > div {
  @apply w-20 h-20 rounded-full overflow-hidden;
}

.sectionOurTeam .card > p {
  @apply text-center w-48;
}

/* footer */

.footer {
  @apply flex flex-col items-center justify-center w-screen h-auto mb-5;
}

.footer > hr {
  @apply w-4/5 border-black my-5;
}
