/*#region tailwind*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*#endregion tailwind*/

/*#region fonts */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
}
/* #endregion fonts */

/* #region Common */

.App {
  @apply min-h-screen font-Poppins overflow-x-hidden flex flex-col justify-between;
}

.card {
  @apply bg-white shadow-lg rounded-lg overflow-hidden px-5 py-3;
}

.button {
  @apply font-bold rounded-lg flex items-center justify-center px-5 py-3 shadow-lg hover:opacity-80 active:opacity-70;
}

h2 {
  @apply text-4xl font-bold leading-relaxed;
}

input {
  @apply h-10 border border-black rounded-lg w-full px-3;
}

/* #endregion Common */

/* #region Titulos */

.title {
  @apply flex items-center gap-5 justify-center py-8;
}

/* Lineas */

.title > hr {
  @apply w-20;
}

/* #endregion Titulos */

/* #region Navbar */

.navbar {
  @apply flex items-center justify-between px-8 py-3;
}

/* Soy profesor */
.navbar .button {
  @apply bg-primary text-white text-base;
}

/* Logo */
.navbar img {
  @apply cursor-pointer;
}

/* #endregion Navbar */

/* #region Hero */
.hero {
  @apply flex items-center justify-center w-screen h-auto gap-20 px-20;
}

.hero > div:nth-child(1) {
  @apply flex flex-col items-start w-[550px];
}

/* Titulo */
.hero > div > h1 {
  @apply text-9xl font-bold animate_entrance_1;
  background: linear-gradient(90deg, #0d9748 -21%, #41fb99 116.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.animate_entrance_1 {
  animation-duration: 0.5s;
  animation-name: animate_entrance;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.animate_entrance_2 {
  animation-duration: 0.5s;
  animation-name: animate_entrance;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
}

.animate_entrance_3 {
  animation-duration: 0.5s;
  animation-name: animate_entrance;
  animation-delay: 0.7s;
  animation-fill-mode: backwards;
}

@keyframes animate_entrance {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* descripción */
.hero > div > h2 {
  @apply text-2xl opacity-70 font-medium animate_entrance_2;
}

/* muy pronto */
.hero > div > div {
  @apply button bg-terciary text-white text-4xl mt-10 animate_entrance_3;
}

/* #endregion Hero */

/* #region methodology */

.methodology {
  @apply flex flex-col items-center justify-center w-screen h-auto;
}

.methodology > p {
  @apply text-2xl text-center font-light w-[1000px] leading-relaxed;
}

.banner {
  @apply flex w-screen justify-start max-w-[1366px];
}

/* Bola verde */
.tasks {
  @apply relative w-[600px] h-[600px] bg-primary rounded-full mt-52 flex items-center justify-center -left-28;
}

/* Titulo de bola verde */
.tasks > h1 {
  @apply text-8xl font-bold text-white;
}

/* task */
.tasks > div {
  @apply absolute flex transition-all duration-500 ease-in-out;
}

/* task img */
.tasks > div > img {
  @apply w-32;
}

/* task title */
.tasks > div > h5 {
  @apply absolute font-bold text-xl;
}

/* task description */
.tasks > div > p {
  @apply absolute flex transition-all duration-500 ease-in-out text-end;
}

/* hover area */
.tasks > div > div {
  @apply h-56 absolute top-5 w-screen opacity-0;
}

/* #endregion methodology */

/* #region TeamWork */

.teamwork {
  @apply flex flex-col items-center justify-center w-screen h-auto mt-52 bg-secondary;
}

.teamwork > p {
  @apply text-2xl text-center font-light w-[1000px] leading-relaxed;
}

.powers {
  @apply flex justify-center gap-40 mt-16 pb-60;
}

.power {
  @apply bg-cuaternary p-5 shadow-lg rounded-lg hover:cursor-pointer relative;
}

.power > img {
  @apply w-16 h-16;
}

.power h3 {
  @apply text-2xl font-bold mb-2;
}

.power p {
  @apply text-base font-light;
}

/* description of the power */
.power > div {
  @apply absolute text-center w-96 mt-10 -translate-x-[41%] transition-all duration-500 ease-in-out;
}

/* #endregion Teamwork */

/* #region accesibility */

.accesibility {
  @apply flex flex-col items-center justify-center pb-10;
}

.accesibility > div {
  @apply flex justify-center gap-20 w-[1300px] mt-10 items-center;
}

/* description */
.accesibility > div > p {
  @apply font-light w-96 relative -top-10;
}

.accesibility > div > div {
  @apply relative flex;
}

/* banner */
.accesibility img {
  @apply w-[500px];
}

/* mouse notification */
.clickable {
  @apply absolute w-28 h-28 rounded-full bg-secondary -top-16 right-36 shadow-lg flex items-center justify-center hover:cursor-default;
}

.clickable > img {
  @apply absolute w-16 h-16 transition-all;
}

.clickable > p {
  @apply absolute text-white text-center opacity-0  transition-all font-bold px-5;
}

/* botones */
.accesibilityButtons > div {
  @apply absolute w-32 h-32 cursor-pointer;
}
/* #endregion */

/* #region Ourteam */

.ourteam {
  @apply mb-40;
}

.sectionOurTeam {
  @apply flex flex-col items-center justify-center px-44 mt-10;
}

.sectionOurTeam > div {
  @apply flex items-center justify-center gap-7;
}

.sectionOurTeam > div > h2 {
  @apply text-black text-2xl;
}

.sectionOurTeam .card {
  @apply flex items-center justify-between flex-wrap w-80 h-40 text-2xl font-bold;
}

.sectionOurTeam .card > div {
  @apply w-20 h-20 rounded-full overflow-hidden;
}

.sectionOurTeam .card > p {
  @apply text-center w-48;
}
/* #endregion Ourteam */

/* #region footer */

.footer {
  @apply flex flex-col items-center justify-center w-screen h-auto mb-5;
}

.footer > hr {
  @apply w-4/5 border-black my-5;
}

/* #endregion footer */
